.header {
  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__logo {
    width: 200px;
  }

  &__content {
    display: flex;
    align-items: center;
  }
}

// Navigation.
.primary-menu {
  margin-right: 20px;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    float: left;
    margin-right: 10px;
  }
}
